@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  @apply bg-plain-400 dark:bg-slate-600;
}

.h-top-bar {
  @apply h-[60px]
}

.border-color {
  @apply border-black dark:border-gray-200
}
