@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

/* BG color dark/light */
.bg-color-foreground-dl {
  @apply bg-plain-light-100 dark:bg-plain-dark-400
}
.bg-color-foreground-hover-dl {
  @apply bg-color-foreground-dl hover:bg-plain-light-200 dark:hover:bg-plain-dark-300
}
.bg-color-input-dl {
  @apply bg-white dark:bg-plain-dark-100
}

/* Border color dark/light */
.border-color-dl {
  @apply border-plain-light-300 dark:border-plain-dark-100
}
.border-color-input-dl {
  @apply border-color-dl focus:border-blue-500 dark:focus:border-secondary-200 focus:outline-none
}
.border-color-table-row-dl {
  @apply border-plain-light-300 dark:border-plain-dark-300
}

/* Text color dark/light */
.text-color-input-dl {
  @apply dark:placeholder:text-plain-light-500
}
.text-color-warning-dl {
  @apply text-warning-red-light dark:text-warning-red-dark
}

.h-top-bar {
  @apply h-[60px]
}
